CLAUDE_API_KEY=
CLAUDE_ENDPOINT=
CLAUDE_MODEL=
CLAUDE_API_VERSION=

PINECONE_API_KEY=
PINECONE_INDEX=discharge-corrections
JINA_API_KEY=

UNRIDDLE_ROOT=
UNRIDDLE_OUTPUT_DIR=
UNRIDDLE_ITERATIONS_DIR=
PATIENT_DATA_JSON_PATH=
PATIENT_PDF_PATH=
PATIENT_TEXT_PATH=
PATIENT_PAGES_JSON_PATH=
PATIENT_TEXT_CLEAN_PATH=
TESSERACT_CMD=
POPPLER_PATH=
